# React/Vite/CRA outputs
node_modules/
build/
dist/
.cache/
coverage/
*.map

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# IDEs y editores comunes
.vscode/
.idea/
*.swp

# Misc
*.tgz
*.bak
*.tmp
*.temp
